@import 'tailwindcss';

@layer base {
	html {
		box-sizing: border-box;
	}
	*,
	*::after,
	*::before {
		margin: 0;
		padding: 0;
		box-sizing: inherit;
	}
}

/* Gold */
/* @theme {
	--color-primary: #f9ba32;
	--color-secondary: #426e86;
	--color-background: #f8f1e5;
	--color-dark: #2f3131;
	--color-accent: #f0810f;
} */
/* --color-secondary: #5D90B0; */

/* Red */
@theme {
	--color-primary: #ef4444;
	--color-secondary: #a3a3a3;
	--color-background: #efefef;
	--color-dark: #272727;
	--color-accent: #bd5b5b;
}

@layer components {
	body {
		@apply text-dark bg-background;
	}

	hr {
		@apply border-primary;
	}

	label + input:not([type='file']) {
		@apply py-1 px-2 rounded-md w-full border;
	}

	label + input[type='file'] {
		@apply py-1 px-2 rounded-md w-full;
		&:hover {
			@apply cursor-pointer;
		}
	}

	button {
		@apply py-2 px-4 text-sm font-bold rounded-md bg-primary text-white items-center;
		&.snippet-icon {
			@apply py-1 px-2 aspect-square inline-block w-fit;
		}
		&:hover {
			@apply cursor-pointer;
		}
	}

	dialog {
		place-self: center;
		@apply shadow-xl rounded-md border text-dark;
		&:focus-within {
			@apply outline-none border-primary;
		}
	}

	table {
		@apply w-full table-fixed;
		td {
			@apply overflow-hidden text-ellipsis;
		}
		th,
		td {
			@apply py-2 px-2;
		}
	}

	a,
	.snippet-anchor {
		&:hover {
			@apply underline cursor-pointer;
		}
	}

	h1 {
		@apply text-lg;
	}

	a,
	button {
		transition:
			color 200ms ease-in,
			background-color 200ms ease;
	}

	.spinner_aj0A,
	.spinner_V8m1 {
		@apply text-primary fill-primary;
	}

	button:disabled,
	input:disabled,
	textarea:disabled {
		@apply opacity-50 cursor-not-allowed;
	}

	.sidebar-transition {
		transition:
			transform 300ms cubic-bezier(0.4, 0, 0.2, 1),
			width 300ms cubic-bezier(0.4, 0, 0.2, 1);
	}

	a:focus-visible,
	button:focus-visible {
		@apply outline-2 outline-offset-2 outline-primary;
	}
}
