@import 'tailwindcss';

@theme {
}

@layer components {
	body {
		@apply text-zinc-700 border-zinc-700 bg-white;
	}

	hr {
		@apply border-indigo-600;
	}

	label + input:not([type='file']) {
		@apply py-1 px-2 rounded-md w-full border;
	}

	label + input[type='file'] {
		@apply py-1 px-2 rounded-md w-full;
		&:hover {
			@apply cursor-pointer;
		}
	}

	button {
		@apply py-2 px-4 text-sm font-bold rounded-md bg-indigo-600 text-white items-center;
		&.snippet-icon {
			@apply py-1 px-2 aspect-square inline-block w-fit;
		}
		&:hover {
			&:not(.snippet-anchor) {
				@apply bg-indigo-700;
			}
			@apply cursor-pointer;
		}
	}

	dialog {
		place-self: center;
		@apply shadow-xl rounded-md border text-zinc-800;
		&:focus-within {
			@apply outline-none border-indigo-600;
		}
	}

	table {
		@apply w-full table-fixed;
		td {
			@apply overflow-hidden text-ellipsis;
		}
		th,
		td {
			@apply py-2 px-2;
		}
	}

	a,
	.snippet-anchor {
		all: unset;
		@apply w-fit inline appearance-none bg-transparent text-indigo-600;
		&:hover {
			@apply underline cursor-pointer;
		}
	}

	h1 {
		@apply text-lg;
	}

	a,
	button {
		transition:
			color 200ms ease-in,
			background-color 200ms ease;
	}

	.spinner_aj0A,
	.spinner_V8m1 {
		@apply text-indigo-600 fill-indigo-600;
	}

	button:disabled,
	input:disabled,
	textarea:disabled {
		@apply opacity-50 cursor-not-allowed;
	}
}
