apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090/monitoring/prometheus
    isDefault: true
    editable: false
    jsonData:
      timeInterval: "15s"
      httpMethod: POST
